<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="https://thoughtscape.in">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://docs.inverselattice.com">Docs</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://cinemaverse.in">Cinema</a>
</li>
